<div class="container">
  <h1>Welcome to Blocipedia</h1>
  <p>Create as many public wikis as you want, sign up for a standard membership</p>
  <p>Create Private wikis, sign up for a premium membership!</p>
</div>
<div class="nav nav-tabs">
  <%= link_to "Blocipedia", root_path %>
</div>
