<br>
  <div class="jumbotron">
     <h1>Welcome to Blocipedia</h1>
     <p>Where you can create and share Wikis!</p>
  </div> 
<p>Created by: Jackie</p>
<p>
  <%= link_to "View Wikis", wikis_path, class: 'btn btn-primary' %> or
  <%= link_to "Create new Wiki", new_wiki_path, class: 'btn btn-primary' %> 
</p>


