<div class="container">
  <h1>Wikis</h1>

  <% if policy(Wiki.new).create? %>
    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
  <% end %> 
 
  <table>
    <tr>
      <th>Wiki Title</th>
      <th>Creation Date</th>
      <th>User Name</th>
    </tr>
    <tr>
      <td><%= @wikis %></td>
      <td><%= @wikis.created_at %></td>
      <td><%= @wikis.user %></td>
    </tr>
  </table>
</div>



