<h1>New Wiki</h1>
<div class="container">
  <%= render partial: "form" %>
  <%= link_to "Wiki's list", wikis_path %>
</div>

<div class="row">
  <%= link_to "Blocipedia", root_path %>
  <%= link_to "About", welcome_about_path %>
</div>


