@import "bootstrap-sprokets";
@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.index {
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: cover;
    color: blue;
    position: center;
}

.wikis {
  border: solid;
  margin: 5px;
  padding: 5px;
  height: 100px;
}

.table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}

