@import "bootstrap-sprokets";
@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.index {
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: cover;
    color: blue;
    position: center;
}

